<h3>20 most recent donations</h3>
<table>
<tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td><span title='5/8/2024' class='calculate-time-elapsed' data='1715182338'>5/8/2024</span></td><td>~1.6µBTC</td><td>Any</td></tr>
<tr><td><span title='5/7/2024' class='calculate-time-elapsed' data='1715086529'>5/7/2024</span></td><td>~7.9µBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='4/23/2024' class='calculate-time-elapsed' data='1713845033'>4/23/2024</span></td><td>~75µBTC</td><td>Any</td></tr>
<tr><td><span title='4/21/2024' class='calculate-time-elapsed' data='1713661994'>4/21/2024</span></td><td>~7.7µBTC</td><td>Any</td></tr>
<tr><td><span title='3/15/2024' class='calculate-time-elapsed' data='1710492097'>3/15/2024</span></td><td>~15µBTC</td><td>Any</td></tr>
<tr><td><span title='1/15/2024' class='calculate-time-elapsed' data='1705345930'>1/15/2024</span></td><td>~12mBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='11/20/2023' class='calculate-time-elapsed' data='1700492217'>11/20/2023</span></td><td>~54sat</td><td>MoreWallets</td></tr>
<tr><td><span title='10/10/2023' class='calculate-time-elapsed' data='1696904445'>10/10/2023</span></td><td>~72µBTC</td><td>Any</td></tr>
<tr><td><span title='9/16/2023' class='calculate-time-elapsed' data='1694907349'>9/16/2023</span></td><td>~380µBTC</td><td>Alerts</td></tr>
<tr><td><span title='8/31/2023' class='calculate-time-elapsed' data='1693482612'>8/31/2023</span></td><td>~16sat</td><td>Any</td></tr>
<tr><td><span title='8/31/2023' class='calculate-time-elapsed' data='1693482433'>8/31/2023</span></td><td>~8sat</td><td>Any</td></tr>
<tr><td><span title='8/30/2023' class='calculate-time-elapsed' data='1693361875'>8/30/2023</span></td><td>~1.8mBTC</td><td>Alerts</td></tr>
<tr><td><span title='8/24/2023' class='calculate-time-elapsed' data='1692851247'>8/24/2023</span></td><td>~11µBTC</td><td>Any</td></tr>
<tr><td><span title='7/17/2023' class='calculate-time-elapsed' data='1689616776'>7/17/2023</span></td><td>~34sat</td><td>NonBitcoinWallets</td></tr>
<tr><td><span title='7/14/2023' class='calculate-time-elapsed' data='1689324386'>7/14/2023</span></td><td>~32µBTC</td><td>Any</td></tr>
<tr><td><span title='6/18/2023' class='calculate-time-elapsed' data='1687124170'>6/18/2023</span></td><td>~190µBTC</td><td>Any</td></tr>
<tr><td><span title='5/21/2023' class='calculate-time-elapsed' data='1684638243'>5/21/2023</span></td><td>~3.7mBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='5/8/2023' class='calculate-time-elapsed' data='1683524925'>5/8/2023</span></td><td>~350µBTC</td><td>FrequentUpdates</td></tr>
<tr><td><span title='5/4/2023' class='calculate-time-elapsed' data='1683219749'>5/4/2023</span></td><td>~350µBTC</td><td>Any</td></tr>
<tr><td><span title='5/4/2023' class='calculate-time-elapsed' data='1683216058'>5/4/2023</span></td><td>~690µBTC</td><td>Any</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>~2BTC</td></tr>
<tr><td>FrequentUpdates</td><td>~18mBTC</td></tr>
<tr><td>CodeReviews</td><td>~9.7mBTC</td></tr>
<tr><td>MoreWallets</td><td>~6.8mBTC</td></tr>
<tr><td>MoreOS</td><td>~3.6mBTC</td></tr>
<tr><td>Alerts</td><td>~2.2mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>~630µBTC</td></tr>
<tr><td>NonWalletApps</td><td>~3sat</td></tr>
<tr><th>Total</th><th>~2BTC</th></tr>
</table>