---
layout: default
---

<div id="main" class="app-review" role="main">
  {% if page.wsId %} 
    <script>window.wsId="{{ page.wsId }}"</script> 
  {% endif %}
  <article class="page" style="float:{{ float }};" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="{{ page.altTitle | default: page.title }}">
    {% if page.excerpt %}
      <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
    {% endif %}
    {% if page.released %}
      <meta itemprop="datePublished" content="{{ page.released | date: " %B %d, %Y" }}">{% endif %}
    {% if page.modified %}
      <meta itemprop="dateModified" content="{{ page.modified | date: " %B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      <div class="app-summary-grid">
        {%- if page.icon -%}
          {%- assign icon = base_path | append: '/images/wIcons/'
            | append: page.collection | append:  '/'
            | append: page.icon -%}
        {%- else -%}
          {%- assign icon = base_path  | append: '/images/noimg.svg' -%}
        {%- endif -%}
        <img src="{{ icon }}" class="app_logo_big" alt="Wallet Logo">
        <div class="app-sum-head">

          <h1 class="page__title -va-c" itemprop="headline">
            {% if page.altTitle %}
              {{ page.altTitle }}<br><span style="font-size: 30%;opacity:.3">(Actually "{{ page.title }}". For details read below.)</span>
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>

          {% if page.released %}
          <div title="Released: {{ page.released | date_to_long_string: 'ordinal' }}" class="secondary-text">
              Released: 
                <span class="calculate-time-elapsed label-lower" data="{{ page.released | date: '%s' }}">
              {{ page.released | date_to_long_string: "ordinal" }}
            </span>
          </div>
          {% endif %}
        </div>

      </div>

      {% include /review/securityOverview.html wsId=page.wsId verdict=page.verdict meta=page.meta platform='bearer' filterPlatform='false' %}
      
      {% include /review/nostrOpinion.html %}

      <div class="article-after disclaimer">
        {% include /review/disclaimer.html %}
        {% include /review/ownResearch.html %}
      </div>

      {% if page.share %}
      <div class="spacer x2"></div>

      <div class="tab-view">
        <div class="labels">
          <div class="label active" data-for="social-share" data-text="Share" data-suffix="on social media"></div>
          <div class="label" data-for="embed-widget" data-text="Embed" data-suffix="a widget on your website"></div>
          <div class="label" data-for="embed-image" data-text="Embed" data-suffix="an image on your website"></div>
        </div>
        <div class="payloads">
          <div class="social-share active">{% include social-share.html %}</div>
          <div class="embed-widget">{% include embed_widget.html %}</div>
          <div class="embed-image">{% include embed_image.html %}</div>
        </div>
      </div>
      {% endif %}

    </div>
  </article>
</div>

<script src="{{ base_path }}/assets/js/color-thief.umd.js"></script>
<script src="{{ base_path }}/assets/js/review.js"></script>
